version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v4-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v4-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Run tests and coverage
          command: go test -race -coverprofile=coverage.out -covermode=atomic
      - codecov/upload:
          file: coverage.out
      - store_test_results:
          path: /tmp/test-reports

workflows:
  sample:
    jobs:
      - build
